<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
</head>
<body>
    {% block subject %}
        გაიცანი Wally Gallery | Meet Wally Gallery
    {% endblock %}

    <div style="width:600px;padding: 0 0 30px 0;margin:0 auto;font-family:'Helvetica Neue',sans-serif;font-size:14px; color:#2B2B2B">
        <div style="background:#8683ad;width:100%;max-width:100%;text-align:center;padding: 20px 0"><img
                src="/app/templates/assets/logo-white-transparent-240x.png" alt="Wally Gallery"
                style="max-width: 240px; height: auto"></div>
        <div style="padding: 15px 10px 20px 10px;">
            გამარჯობა,<br><br>
            მე ვარ გვანცა კიკალიშვილი, კომუნიკაციების კონსულტანტი და არტ ენთუზიასტი.
            ხელოვნება ჩემი დიდი ინტერესი და ინსპირაციაა.<br><br>

            მინდა წარმოგიდგინოთ ჩემი ონლაინ გალერეა - <a href="https://www.wallygallery.com/ka" target="_blank">wallygallery.com</a>
            სადაც წარმოგიდგენთ გამორჩეულ და ძალიან ნიჭიერ თანამედროვე არტისტებს და მათ ნამუშევრებს.<br><br>

            ნამუშევრების შეძენა ხდება მარტივად, ბარიერების გარეშე, პირდაპირ თქვენი გაჯეტიდან. შეძენიდან 24 საათში მოგიტანთ
            ნამუშევარს თბილისში, რეგიონებში - საქართველოს ფოსტით გამოგიგზავნით.<br><br>

            <a href="https://www.wallygallery.com/ka" target="_blank">wallygallery.com</a>-ზე ნახავთ დეტალურ ინფორმაციას
            არტისტებზე და ასევე, ჩვენ სერვისებზე.<br><br>

            იმედი გვაქვს, 2022 წელს მეტი არტი იქნება თქვენს სივრცეებში და ყველა დავიჯერებთ, რომ კარგი არტის ყიდვა ყოველთვის,
            ყველანაირი ბიუჯეტით არის შესაძლებელი.<br><br>

            <a href="https://www.wallygallery.com/ka" target="_blank">wallygallery.com</a>-ზე წარმოდგენილი ნამუშევრები
            შერჩეულია პროფესიონალების მიერ მთელი გულით.<br><br>

            კითხვების შემთხვევაში, გიზიარებთ ჩემ საკონტაქტო ინფორმაციას:<br><br>

            <a href="mailto:me@gvantsa.com" style="text-decoration:none;display:inline-block;margin-bottom:5px;">me@gvantsa.com</a><br>
            <a href="tel:+995599799646"
               style="text-decoration:none;display:inline-block;margin-bottom:5px;">+995599799646</a>
            <div>#glorytoukraine <img src="/app/templates/assets/flag-ua.png" alt="Ukraine Flag"></div>
        </div>
        <div style="border-bottom: 1px solid silver; opacity: .3;"></div>
        <div style="padding: 35px 10px 20px 10px;">
            Hello,<br><br>

            My name is Gvantsa Kikalishvili. I am a communications consultant and art enthusiast. Art is my huge interest
            and motivation.<br><br>

            It’s my pleasure to present you my online gallery - <a href="https://www.wallygallery.com/en" target="_blank">wallygallery.com</a>.
            Wally gallery is the democratic space
            where you find super talented and outstanding contemporary Georgian artists.<br><br>

            Selling and buying art on <a href="https://www.wallygallery.com/en" target="_blank">wallygallery.com</a> is easy
            and user-friendly. You can do it from your desk, and in less than
            24 hours, the artwork will be in your space. In regions of Georgia, we use the Georgian post service.<br><br>

            We are proud of our content. On <a href="https://www.wallygallery.com/en" target="_blank">wallygallery.com</a>
            you will see all info about our artists and our services as
            well.<br><br>

            Our small team hopes that there will be more art in your space in 2022. We believe that buying good art is
            possible any time with any budget.<br><br>

            Selection of artworks are done by professionals with love and respect<br><br>

            <a href="https://www.wallygallery.com/en" target="_blank">wallygallery.com</a> - remember this gallery as the
            space to discover and buy Georgian art.<br><br>

            In case of questions, don’t hesitate to contact me:<br><br>

            <a href="mailto:me@gvantsa.com" style="text-decoration:none;display:inline-block;margin-bottom:5px;">me@gvantsa.com</a><br>
            <a href="tel:+995599799646"
               style="text-decoration:none;display:inline-block;margin-bottom:5px;">+995599799646</a>
            <div>#glorytoukraine <img src="/app/templates/assets/flag-ua.png" alt="Ukraine Flag"></div>
        </div>
        <div style="border-bottom: 1px solid silver; opacity: .3;"></div>
        <div style="text-align:right; font-size:14px; padding: 20px;">
            <a href="mailto:info@wallygallery.com" style="text-decoration:none;display:inline-block;margin-bottom:5px;">info@wallygallery.com</a><br>
            <a href="tel:+995599799646"
               style="text-decoration:none;display:inline-block;margin-bottom:5px;">+995599799646</a>
        </div>
        <div style="text-align:center;margin-top:24px">
            <a href="https://www.facebook.com/Wally.Gallery" style="margin-right:16px;text-decoration:none;"
               target="_blank"><img src="/app/templates/assets/icon-fb.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/wally.gallery/" style="margin-right:16px;text-decoration:none;"
               target="_blank"><img src="/app/templates/assets/icon-instagram.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/company/artinceptiongeorgia/" style="text-decoration:none;"
               target="_blank"><img src="/app/templates/assets/icon-linkedin.png" alt="Linkedin"></a>
            <div style="margin-top:24px;color:#7c7a97;margin-bottom:4px">
                © 2022 <a href="https://www.wallygallery.com" style="color:#7c7a97" target="_blank">WallyGallery.com</a>
            </div>
            <div style="color:#7c7a97">ყველა უფლება დაცულია | All rights reserved</div>
            <div style="color:#7c7a97"></div>
        </div>
    </div>
</body>
</html>